{% extends 'base.html' %}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Внимание!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Вы действительно хотите уволить водителя - {{ driver.name }}.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary btn-lg px-4 gap-3">Вернуться назад</a>
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger btn-lg px-4">Уволить</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}